body {
	background-color: lightgray;
	/*font-family: Verdana;*/
}

.header_container {
	margin: 0.5em;
	
	background-color: white;
	
	border-style: solid;
	border-width: 1px;
	border-color: darkgray;
	
	padding: 0.5em;
}

h1 {
	margin: 0;
	margin-bottom: 0.3em;
}

.feed_meta_label {
	font-weight: bold;
}

form {
	margin: 0;
}

.phrase_input {
	width: 15em;
}

.item {
	margin: 0.5em;
	
	background-color: white;
	
	border-style: solid;
	border-width: 1px;
	border-color: darkgray;
	
	padding: 0.5em;
}

.item_title {
	background-color: lightblue;
	padding: 0.3em;
	font-size: 120%;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: darkgrey;
}


.item_meta {
	background-color: lightpink;
	padding: 0.3em;
	font-size: 80%;
	text-align: right;
}
